{% extends 'survey/base.html' %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">{{ survey.title }}</h1>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="box">
            <h2 class="subtitle">{{ field.label_tag }}</h2>
            <div class="control">
              {% for choice in field.field.choices %}
                <label class="radio">
                  <input type="radio" name="{{ field.name }}" value="{{ choice.0 }}">
                  {{ choice.1 }}
                </label>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <button type="submit" class="button is-success">Submit</button>
      </form>
    </div>
  </section>
{% endblock %}
