{% extends 'survey/base.html' %}
{% load static %}

<style>

  section {
      padding: 50px 0;
  }

  .title {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      color: #2c3e50;
      margin-bottom: 30px;
  }

</style>



{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ survey.title }}</h1>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="box">
          <h2 class="subtitle">{{ field.label_tag }}</h2>
          <div class="control">
            {% if field.field.widget.input_type == 'radio' %}
              {% for choice in field.field.choices %}
                <label class="radio">
                  <input type="radio" name="{{ field.name }}" value="{{ choice.0 }}">
                  {{ choice.1 }}
                </label>
              {% endfor %}
            {% elif field.field.widget.input_type == 'text' %}
              <div class="field">
                <div class="control">
                  <textarea name="{{ field.name }}" class="textarea" placeholder="Type your answer here..." rows="4" cols="50"></textarea>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      {% if survey.responder_info_required == False %}
      <div class="box">
        <h2 class="subtitle">Anonymous response</h2>
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="anonymous" value="True">
            Check this box to fill out the survey anonymously
          </label>
        </div>
      </div>
      {% endif %}
      

      <button type="submit" class="button is-success">Submit</button>
    </form>
  </div>
</section>

{% endblock %}