{% extends 'survey/base.html' %}

{% block content %}

<div class="container">
  <br><br><h1 class="title has-text-centered">
    SurFill
  </h1>
  <h2 class="subtitle has-text-centered">
    Welcome {{ request.user.username }}
  </h2>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h3 class="subtitle">Your Surveys:</h3>
        <ul>
          {% if surveys %}
            <ul>
              {% for survey in surveys %}
              <li>
                <a class="box" href="{% url 'survey_results' survey.id %}">{{ survey.title }}</a>
                {% if survey.expired %}
                <span class="tag is-danger is-light">Expired</span>
                {% endif %}
              </li><br>
              {% endfor %}
            </ul>
          {% else %}
          <p>No surveys</p>
        {% endif %}

        </ul>
        <div class="box">
          <h3 class="subtitle">Points So Far: <span class="has-text-weight-bold">{{ request.user.points }}</span></h3>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
